.bannerContainer {
    max-width: 100%;
    height: 400px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    top: 105px;
  
    > img {
      width: 100%;
      max-height: 100%;
    }
  }
  
  .container{
    max-width: 720px;
    margin: 5rem auto 0;
  }
  
  .post {
    h1 {
      font-size: 3rem;
    }
  
    .postInfo {
      margin-top: 1rem;
      display: flex;
      align-items: center;
  
      svg {
        margin-right: 0.5rem;
        margin-left: 1rem;
      }
    }
  
    .postContent {
      h2 {
        color: var(--white);
        font-size: 1.75rem;
        margin: 2rem 0 1rem;
      }
  
      .body {
        padding: 1rem 2rem;
        text-align: justify;
  
        p {
          margin-bottom: 1rem;
        }
      }
    }
  }